@import 'variables';

.test {
        font-size: 2px;
        width: 100px;
}
h1 {
        color: $red;
}


.card-course-item-item {
        margin-top: 30px;
}

.form-control {
        width: 400px;
}